bin/*
docs/*
eggs/*
venv/*
parts/*
develop-egg
medialog.hilversum.egg-info
develop-eggs/*
*egg-info/*
src/medialog.hilversum.egg-info/*
var
var/*
src/medialog/hilversum/content/__pycache__/__init__.cpython-310.pyc
*.pyc
.vscode/settings.json
.vscode/vs-recipe-generated-settings.json
.mr.developer.cfg
.installed.cfg
.vscode/.env
test_plone60.cfg
src/medialog/hilversum/views/proloog_view-kopi 2.pt
src/medialog/hilversum/views/proloog_view-kopi 2.pt
src/medialog/hilversum/views/proloog_view-kopi.pt
src/medialog/hilversum/views/pdf_catalog_view_aanbieder-kopi.pt
