.section-oog-voor-cultuur-in-onderwijs #portal-breadcrumbs {
    display: none
}

button.active {
    background: red !important
}

.orangebox {
    background: #d78132;
    width: 100%;
    height: 3.5rem;
    border-radius: 2px
}

#clear-filters {
    padding-top: 2px
}

#clear-filters:hover {
    text-decoration: underline;
}

#filters-toggles {
    margin: -10px 0 20px 20px;
    padding: 15px 20px;
    border-radius: 2px;

}

.green_box>.padding-1 {
    min-height: 3.1rem;
}


#filters-toggles:hover {
    opacity: 0.8
}

#portal-logo {
    max-width: 300px;
}

.logodiv {
    width: 50%;
    max-width: 400px;
    min-width: 270px;
}

.textdiv {
    width: 50%;
    max-width: 100vw;
    min-width: 320px;
}

body.template-proloog-folder-view #viewlet-above-content-body,
body.template-proloog-listing #viewlet-above-content-body {
    margin: 0;
}

#iconcontainer {
    margin-bottom: 0;
    padding-bottom: 0
}

#main-container .btn.button.to_listing {
    margin: 0;
}

.template-favoriten-view #main-container,
.template-proloog-view #main-container {
    margin-top: 2rem;
}

.course_text {
    width: 67%;
}

.course_info {
    max-width: 480px;
    min-width: 330px;
    width: 30%;
}

.iconcontainer .filter div {
    min-width: 240px;
    ;
}

.filter a,
.iconcontainer .filter a {
    text-decoration: none;
    color: #333;
}

.space-around {
    justify-content: space-around
}

.flex.space-evenly {
    justify-content: space-evenly
}


/* .text_info_wrapper .course_label   { border-bottom: 1px solid #DDD; margin-right: 10px} */

/* .text_info_wrapper p:first-child .course_label { border-top: 1px solid #DDD; } */

.text_info_wrapper p {
    margin: 2px;
    display: flex;
}

.course_label {
    font-weight: 600;
    color: #444;
    margin-right: 6px;
}



.disciplin {
    width: 40px;
    height: 40;
}

.discipline {
    background: white;
    height: 32px;
    width: 28px;
    padding: 1px 2px 0;
    margin-left: 0;
    margin-right: 4px;
}

.filter select.enabled {
    background: green;
    color: white;
}



.filtercontainer {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}


.flex.flex-start {
    justify-content: flex-start
}

.gap-1 {
    gap: 1rem
}

.green_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FCFBFB;
}

div.whitesmoke {
    background: whitesmoke
}




.whitebox {
    background: white;
    border: 1px solid silver;
    margin: 0.7rem;
    padding: 0.5%;
    text-align: center;
    min-height: 240px;
}





.course_info .green_box {
    height: auto;
}


.green_box:hover {
    box-shadow: 0 0 13px #AAA
}

.green_box:hover a {
    text-decoration: underline;
}

.green_box a {
    text-decoration: none;
    font-weight: bold
}

.greybox {
    background: whitesmoke;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    min-width: 400px;
    width: 22%
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 303px));
    gap: 24px;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(303px, 1fr));
    }
}

.grid.small {
    grid-template-columns: repeat(auto-fit, minmax(200px, 235px));
    gap: 24px;
}

.hidden {
    display: none !important
}

.imagediv {
    height: 200px;
}

.imagediv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.disiplin {
    width: 8mm;
    height: 8mm
}

.filtercontainer img {
    max-width: 40px;
}

.imagediv.logo {
    max-width: 150px;
    max-height: 80px;
    margin: 1rem;
    text-align: center;
    margin: auto
}

.imagediv.logo img {
    width: auto;
    max-width: 130px;
    max-height: 50px;
    margin: 1rem 1rem 2rem;
}

.margin-top-auto {
    margin-top: auto
}

.newsImageContainer img {
    max-width: 100px;
}

.no-underline {
    text-decoration: none !important
}

option.choose_one {
    color: #555
}

.padding-0 {
    padding: 0
}

.padding-5 {
    padding: 5px
}

.small {
    font-size: 0.8rem;
}

div.dropdowns {
    background: whitesmoke;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 1rem;
}

#filter-section .filter.flex {
    flex-direction: row;
}

div.portletWrapper .filter-section select {
    max-width: 80% !important;
    min-width: 150px;
    margin: 3px
}

#filters-toggles select,
.filter.flex select {
    width: 12%;
    max-width: 180px;
    min-width: 150px;
    margin: 3px
}

a {
    text-decoration: none
}

div.flex_start {
    display: flex;
    justify-content: flex-start;
    flex-direction: row !important
}

.enabled-filter a {
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid silver
}

table.sortable thead th {
    background-color: #DDD;
    /* grey background */
}

.aanbodMeta__box--shadow {
    border: none;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
    padding: 25px;
}

.whitesmoke {
    background-color: whitesmoke;
}

.buttonFavorite {
    border: 0;
    box-shadow: none;
    display: inline-block !important;
    font-size: 130%;
    text-align: center
}

.buttonfont {
    font-size: 130%;
    text-align: center;
}

.buttonfont a {
    text-decoration: none
}

a.dis_link {
    color: #333;
    text-decoration: none;
    font-size: 130%
}



/* Tablesorter */

.tablesorter-default {
    width: 100%;
    font: 12px/18px Arial, Sans-serif;
    color: #333;
    background-color: #fff;
    border-spacing: 0;
    margin: 10px 0 15px;
    text-align: left
}

.tablesorter-default th,
.tablesorter-default thead td {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border-collapse: collapse;
    border-bottom: #ccc 2px solid;
    padding: 0
}

.tablesorter-default tfoot td,
.tablesorter-default tfoot th {
    border: 0
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px
}

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc,
.tablesorter-default thead .tablesorter-headerSortUp {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    border-bottom: #000 2px solid
}

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc,
.tablesorter-default thead .tablesorter-headerSortDown {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    border-bottom: #000 2px solid
}

.tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px
}

.tablesorter-default tfoot .tablesorter-headerAsc,
.tablesorter-default tfoot .tablesorter-headerDesc,
.tablesorter-default tfoot .tablesorter-headerSortDown,
.tablesorter-default tfoot .tablesorter-headerSortUp {
    border-top: #000 2px solid
}

.tablesorter-default td {
    background-color: #fff;
    border-bottom: #ccc 1px solid;
    padding: 4px;
    vertical-align: top
}

.tablesorter-default tbody>tr.even:hover>td,
.tablesorter-default tbody>tr.hover>td,
.tablesorter-default tbody>tr.odd:hover>td,
.tablesorter-default tbody>tr:hover>td {
    background-color: #fff;
    color: #000
}

.tablesorter-default .tablesorter-processing {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-image: url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=) !important
}

.tablesorter-default tr.odd>td {
    background-color: #dfdfdf
}

.tablesorter-default tr.even>td {
    background-color: #efefef
}

.tablesorter-default tr.odd td.primary {
    background-color: #bfbfbf
}

.tablesorter-default td.primary,
.tablesorter-default tr.even td.primary {
    background-color: #d9d9d9
}

.tablesorter-default tr.odd td.secondary {
    background-color: #d9d9d9
}

.tablesorter-default td.secondary,
.tablesorter-default tr.even td.secondary {
    background-color: #e6e6e6
}

.tablesorter-default tr.odd td.tertiary {
    background-color: #e6e6e6
}

.tablesorter-default td.tertiary,
.tablesorter-default tr.even td.tertiary {
    background-color: #f2f2f2
}

.tablesorter-default>caption {
    background-color: #fff
}

.tablesorter-default .tablesorter-filter-row {
    background-color: #eee
}

.tablesorter-default .tablesorter-filter-row td {
    background-color: #eee;
    border-bottom: #ccc 1px solid;
    line-height: normal;
    text-align: center;
    -webkit-transition: line-height .1s ease;
    -moz-transition: line-height .1s ease;
    -o-transition: line-height .1s ease;
    transition: line-height .1s ease
}

.tablesorter-default .tablesorter-filter-row .disabled {
    opacity: .5;
    cursor: not-allowed
}

.tablesorter-default .tablesorter-filter-row.hideme td {
    padding: 2px;
    margin: 0;
    line-height: 0;
    cursor: pointer
}

.tablesorter-default .tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0
}

.tablesorter-default input.tablesorter-filter,
.tablesorter-default select.tablesorter-filter {
    width: 95%;
    height: auto;
    margin: 4px auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height .1s ease;
    -moz-transition: height .1s ease;
    -o-transition: height .1s ease;
    transition: height .1s ease
}

.tablesorter .filtered {
    display: none
}

.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99
}


/* PDF print CSS */
.page-break-before {
    page-break-before: always;
}

div.font-90 {
    font-size: 80%;
}

div.font-80 {
    font-size: 80%;
}

.pdf_course_text.course_text {
    width: 60%;
}

div.pdf_course_info {
    width: 35% !important;
    min-width: 100px !important;
    background-color: #FAFAFA !important;
}

.border-1 {
    border: 1px solid #BBB;
    background-color: #FAFAFA !important;
}

.pdfgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 151px));
    gap: 12px;
}

.pdfimagediv img  {
   max-height: 400px;
   width: auto;
   height: auto;
}

.aanbiederimage img {
    max-height: 300px;
    width: auto;
    height: auto;
 }

.halves > div { width: 50%; min-width: 50%}

.halves .imagediv  img { width: 50%; margin: 0; padding: 0}

.margin-5-0  { margin: 5px 0; }