.template-favoriten-view #main-container,
.template-proloog-view #main-container {
    margin-top: 2rem;
}

.course_text {
    width: 67%;
}

.course_info {
    max-width: 480px;
    min-width: 330px;
    width: 30%;
}

.iconcontainer .filter div {
    min-width: 240px;;
}

.iconcontainer .filter a {
    text-decoration: none;
    color: #333;
}

.space-around {
    justify-content: space-around
}

.flex.space-evenly {
    justify-content: space-evenly 
}


/* .text_info_wrapper .course_label   { border-bottom: 1px solid #DDD; margin-right: 10px} */

/* .text_info_wrapper p:first-child .course_label { border-top: 1px solid #DDD; } */

.text_info_wrapper p {
    margin: 2px;
    display: flex;
}

.course_label {
    font-weight: 600;
    color: #444;
    margin-right: 6px;
}



.disciplin {
    width: 40px;
    height: 40;
}

.discipline {
    background: white;
    height: 32px;
    width: 28px;
    padding: 1px 2px 0;
    margin-left: 0;
    margin-right: 4px;
}

.filter select.enabled {
    background: green;
    color: white;
}



.filtercontainer {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.flex-start {
    justify-content: flex-start
}

.gap-1 {
    gap: 1rem
}

.green_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FCFBFB;
}




.whitebox {
    background: white;
    border: 1px solid silver;
    margin: 0.7rem;
    padding: 0.5%;
    text-align: center;
    min-height: 240px;
}





.course_info .green_box {
    height: auto;
}


.green_box:hover {
    box-shadow: 0 0 13px #AAA
}

.green_box:hover a {
    text-decoration: underline;
}

.green_box a {
    text-decoration: none;
    font-weight: bold
}

.greybox {
    background: whitesmoke;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    min-width: 400px;
    width: 22%
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 332px));
    gap: 24px;
}

.hidden {
    display: none !important
}

.imagediv {
    height: 200px;
}

.imagediv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filtercontainer img {
    max-width: 40px;
}

.imagediv.logo {
    max-width: 150px;
    max-height: 80px;
    margin: 1rem;
    text-align: center;
    margin: auto
}

.imagediv.logo img {
    width: auto;
    max-width: 130px;
    max-height: 50px;
    margin: 1rem 1rem 2rem;
}

.margin-top-auto {
    margin-top: auto
}

.newsImageContainer img {
    max-width: 100px;
}

.no-underline {
    text-decoration: none !important
}

option.choose_one {
    color: #555
}

.padding-0 {
    padding: 0
}

.padding-5 {
    padding: 5px
}

.small {
    font-size: 0.8rem;
}

div.dropdowns {
    background: whitesmoke;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 1rem;
}

#filter-toggle {
    margin-bottom: 10px
}

div.portletWrapper .filter-section select {
    max-width: 80% !important;
    min-width: 150px;
    margin: 3px
}

#filter-toggle select,
.filter.flex select {
    width: 12%;
    max-width: 180px;
    min-width: 150px;
    margin: 3px
}

a {
    text-decoration: none
}

div.flex_start {
    display: flex;
    justify-content: flex-start;
    flex-direction: row !important
}

.enabled-filter a {
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid silver
}

table.sortable thead th {
    background-color: #DDD;
    /* grey background */
}

.aanbodMeta__box--shadow {
    border: none;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
    padding: 25px;
}

.whitesmoke {
    background-color: whitesmoke;
}

.buttonFavorite {
    border: 0;
    box-shadow: none;
    display: inline-block !important;
    font-size: 130%;
    text-align: center
}

.buttonfont {
    font-size: 130%;
    text-align: center;
}

.buttonfont a {
    text-decoration: none
}

a.dis_link {
    color: #333;
    text-decoration: none;
    font-size: 130%
}